<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>LiveMessenger</title>
  <link rel="stylesheet" href="/style/msg.css" />
  <link rel="shortcut icon" type="image/jpg"
    href="https://uploads.marksism.space/image/6d1d957424e6e13d4762636bc1b1a503.png" />

  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <script>
    let form = document.getElementById("sendForm");
    let send = document.getElementById("send");

    const socket = io();

    socket.on("connect", () => {
      window.scrollTo(0,document.body.scrollHeight);
      $(function () {
        socket.emit("<%- room %>", {
          connected: "<%- room %>"
        });
        $("#sendForm").submit(function (e) {
          e.preventDefault();
          let jsonObj = {
            msg: $("#send").val()
          }
          socket.emit("<%- room %>", jsonObj);
          $("#send").val("");
          checkEmpty();
          return false;
        });
        let i = 0;
        socket.on("<%- room %>", function (msg) {

          let msgHtml = document.createElement("li");
          msgHtml.innerHTML = `<p><b>${escapeHtml(msg.usr)}: </b>${escapeHtml(msg.msg)}</p>`;

          document.getElementById("messages").appendChild(msgHtml);

          i = i + 1;

          window.scrollTo(0,document.body.scrollHeight);  
        });
      });
    });

    function checkEmpty(){
      let button = document.getElementById("btn")
      let doc = document.getElementById("send")
      if(doc.value){
          button.disabled = false;
          button.className = "";
      }else{
        button.disabled = true;
        button.className = "disabled";
      }
    }

    function escapeHtml(unsafe) {
    return unsafe
         .replace(/&/g, "&amp;")
         .replace(/</g, "&lt;")
         .replace(/>/g, "&gt;")
         .replace(/"/g, "&quot;")
         .replace(/'/g, "&#039;");
 }
  </script>
</head>

<body onload="checkEmpty()">
  <ul id="messages">
    <% for( let index = 0; index < messages.length; index++ ) { %>
      <li><p><b><%= messages[index].user %>: </b><%= messages[index].message %></p></li>
    <% } %>
  </ul>
  <form id="sendForm" action="">
    <input id="send" autocomplete="off" oninput="checkEmpty()" maxlength="50"/>
    <button id="btn">Send</button>
  </form>
</body>

</html>